pyrofork
TgCrypto
aiohttp
pymongo[srv]>=4.6.1
motor>=3.3.2
marshmallow>=3.20.0
umongo>=3.1.0
validators
requests
bs4
pytz
shortzy
python-dotenv
Flask>=2.3.0
gunicorn
Jinja2>=3.1.0
werkzeug>=3.0.0
itsdangerous
